# Airflow variables
AIRFLOW_VAR_USER_PURCHASE_CSV_FILE=
AIRFLOW_VAR_USER_PURCHASE_TABLE=
AIRFLOW_VAR_SLACK_CHANNEL=
AIRFLOW_VAR_STAGING_BUCKET=
AIRFLOW_VAR_CLEAN_USER_PURCHASE_FILE=
AIRFLOW_VAR_PROJECT_ID=
AIRFLOW_VAR_DATAPROC_TEMP_BUCKET=
AIRFLOW_VAR_DATAPROC_CLUSTER_NAME=
AIRFLOW_VAR_DATAPROC_REGION=
AIRFLOW_VAR_MOVIES_REVIEWS_SCRIPT=
AIRFLOW_VAR_MOVIES_REVIEWS_INPUT=
AIRFLOW_VAR_MOVIES_REVIEWS_OUTPUT=
AIRFLOW_VAR_LOGS_REVIEWS_SCRIPT=
AIRFLOW_VAR_LOGS_REVIEWS_INPUT=
AIRFLOW_VAR_LOGS_REVIEWS_OUTPUT=
AIRFLOW_VAR_MOVIES_EXTERNAL_TABLE_URI=
AIRFLOW_VAR_LOGS_EXTERNAL_TABLE_URI=
AIRFLOW_VAR_LOGS_EXTERNAL_TABLE_NAME=
AIRFLOW_VAR_MOVIES_EXTERNAL_TABLE_NAME=
AIRFLOW_VAR_USER_PURCHASE_EXTERNAL_TABLE_URI=
AIRFLOW_VAR_USER_PURCHASE_EXTERNAL_TABLE_NAME=
AIRFLOW_VAR_WAREHOUSE_DATASET=


# Airflow connections
AIRFLOW_CONN_GOOGLE_DEFAULT=
GOOGLE_APPLICATION_CREDENTIALS=
MY_AIRFLOW_SERVICE_ACCOUNT=
